<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <style>
        .navbar {
            background-color: #f1f1f1;
            overflow: hidden;
        }
        
        .navbar a {
            float: left;
            display: block;
            color: #333;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        .navbar a:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/">Admin Panel</a>
        <a href="/dl-olustur">Dijital Lansman Oluştur</a>
        <a href="/dl-listele">Dijital Lansmanları Listele</a>
    </div>
    
    <h1>Admin Panel</h1>
</body>
</html>